import(rjson)
import(httr)
import(htmltools)
import(ggplot2)
export(
   # download data from eurostat 
   getEurostatRaw, getEurostatRCV, getEurostatTOC, grepEurostatTOC, getEurostatDictionary,
   # download data from google maps
   getGoogleMapsAddress,
   # download data from Bank Danych Lokalnych GUS (through MojePanstwo)
   getBDLtree, getBDLsearch, getBDLseries,
   # access to weather forecasts through Dark Sky API
   getWeatherForecast,
   # access to pool results
   getMillwardBrown
)
